* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px 10px;
    background-image: url(../public/img/fondoprincipal.jpeg);
    background-size: cover;
    background-position: center;
    background-color: #fff;
    font-family: 'Dosis', sans-serif;
}